.clothes__section {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  row-gap: 0px;
  justify-content: flex-start;
  margin-top: 20px;
  text-align: center;
  position: relative;
}

.itemCard {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
